*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.csv
*.dvi
*.ent
*.fdb_latexmk
*.ffs_db
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.jpg
*.lc.txt
*.lock
*.lof
*.log
*.lot
*.maf
*.md5.txt
*.mtc*
*.mw
*.nav
*.out
*.pdf
*.png
*.ps
*.ptc*
*.pyc
*.rel
*.run.xml
*.snm
*.synctex.gz*
*.tdo
*.temp
*.toc
*.vrb
*.zip
*~
.#*
.temp.*
.~*
\#*
.seed
*.exe
ehllapi/ehlapi32.dll
